body {
  background-image: linear-gradient(
    83.2deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  color: #fff;
}

.app {
  margin: 5% 10%;
}

.app-header h1 {
  text-align: center;
}

.app-header form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header form div {
  margin: 10px;
  display: inline-block;
  align-self: center;
}

.app-header form input {
  margin: 0 10px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 200px;
  background: transparent;
  color: #fff;
}

.app-header form input:focus {
  outline: none;
  border-bottom: 2px solid #5800ff;
}

.app-header form button {
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  width: 200px;
  cursor: pointer;
  background-image: linear-gradient(
    102.4deg,
    rgba(253, 189, 85, 1) 7.8%,
    rgba(249, 131, 255, 1) 100.3%
  );
  color: #fff;
}
